<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <section class="section">
      <div class="container content">
        <h1 class="title">Welcome to <%= user.username %>'s Kitchen</h1>
        <h2 class="is-size-4 title">Pantry</h2>
        <ul>
        <% user.pantry.forEach(item => { %>
            <li><%= item.name %></li>
        <% }); %>
        </ul>
        <h2 class="is-size-4 title">Created Recipes</h2>
        <ul>
        <% user.ownedRecipes.forEach(item => { %>
            <li><a href="/users/<%= user._id %>/recipes/<%= item._id %>"><%= item.name %></a></li>
        <% }); %>
        </ul>
        <h2 class="is-size-4 title">Saved Recipes</h2>
        <ul>
        <% user.savedRecipes.forEach(item => { %>
            <li><a href="/users/<%= user._id %>/recipes/<%= item._id %>"><%= item.name %></a></li>
        <% }); %>
        </ul>
      </div>
    </section>
    
  </body>
</html>