<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>My Recipes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <section class="section">
      <div class="container">
        <h1 class="title">My Recipes</h1>
        <p class="subtitle">You have <%= recipes.length %> recipes:</p>
        <ul>
          <% recipes.forEach(recipe => { %>
            <li><a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a></li>
          <% }) %>
        </ul>
        <p class="button mt-3"><a href="/users/<%= user._id %>/recipes/new">+ Add new Recipe</a></p>
      </div>
    </section>
  </body>
</html>