<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>My Recipes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <section class="section">
      <div class="container is-flex is-flex-direction-column is-gap-2">
        <h1 class="title">My Recipes</h1>
        <div>
          <h2 class="is-size-4">Saved Recipes</h2>
          <ul>
            <% savedRecipes.forEach(recipe => { %>
              <li><%= savedRecipes.indexOf(recipe) + 1 %>. 
                <a class="" href="/users/<%= user._id %>/recipes/<%= recipe._id %>"><%= recipe.name %></a>
              </li>
            <% }) %>
            </ul>
        </div>
        <div>
          <h2 class="is-size-4">Recipes Created</h2>
          <div class="is-flex is-flex-direction-column ">
          <% ownedRecipes.forEach(recipe => { %>
            <div class="box is-flex is-flex-direction-column is-gap-1 has-text-centered" style="max-width: 285px;">
              <h3 class="is-size-5"><a class="" href="/users/<%= user._id %>/recipes/<%= recipe._id %>"><%= recipe.name %></a></h3>
              <div class="is-flex is-flex-direction-row is-align-items-center is-justify-content-center is-gap-1">
                <p class="button is-small"><a class="has-text-black" href="/users/<%= user._id %>/recipes/<%= recipe._id %>/edit">edit</a></p>
                <form action="/users/<%= user._id %>/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                  <button class="button is-small" type="submit">delete</button>
                </form>
              </div>
            </div>
          <% }) %>
          </div>
        </div>
        <p class="button mt-3" style="max-width: 175px;"><a class="has-text-black" href="/users/<%= user._id %>/recipes/new">+ Add new Recipe</a></p>
      </div>
    </section>
  </body>
</html>